<ion-header>
    <ion-toolbar color="primary">
      <ion-title>Produtos</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-list>
      <ion-item>
  
        <ion-label>Categoria</ion-label>
        <ion-select (ionChange)="buscarProdutos()" [(ngModel)]="categoriaSelecionada">
          <ion-select-option value="" [selected]="true">Todas</ion-select-option>
          <ion-select-option *ngFor="let categoria of categorias | async" [value]="categoria.key">{{ categoria.nome }}
          </ion-select-option>
        </ion-select>
  
      </ion-item>
  
      <ion-item *ngFor="let produto of produtos | async" (click)="adicionarProduto(produto.key)">
        <ion-avatar slot="start" *ngIf="produto.img">
          <img [src]="produto.img" />
        </ion-avatar>
        <ion-label text-wrap>
          <h1>{{ produto.nome }}</h1>
          <h2>{{ produto.categoriaNome }}</h2>
          <pre text-wrap>{{ produto.descricao }}</pre>
          <!-- <span>{{ produto.preco | currency:'BRL' }}</span> -->
          <app-valor [valor]="produto.preco"></app-valor>
        </ion-label>
      </ion-item>
    </ion-list>
  
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="carrinhoPossuiItens">
      <ion-fab-button [routerLink]="['/pedido/carrinho']" color="warning">
        <ion-icon name="cart"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>